.header {
    position: relative;
    z-index: 2;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }
    &__logo {
        width: 150px;
        display: block;
        margin-right: 179px;
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
    &__right {
        flex-grow: 1;
        &-inner {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    &__btn {
        background: #86A876;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 174px;
        height: 47px;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__burger {
        display: none;
    }
}

.language {
    position: relative;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    &-show {
        display: flex;
        align-items: center;
        height: 50px;
        cursor: pointer;
        text-transform: uppercase;
        width: 100%;
        justify-content: center;
        svg {
            margin-left: 8px;
            transition: all .3s;
            z-index: 2;
            position: relative;
        }
        span {
            z-index: 2;
            position: relative;
        }
    }
    &-show--active {
        position: relative;
        pointer-events: none;
        svg {
            transform: rotate(180deg);
        }
        &~.language-hidden {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            background: #FFFFFF;
            z-index: 1;
            pointer-events: none;
            box-shadow: 0px 10px 20px rgba(22, 40, 51, 0.15);
            width: 100%;
            height: 150px;
            top: 5px;
            left: 0;
        }
    }
    &-hidden {
        display: none;
        position: absolute;
        overflow: hidden;
        top: 100%;
        left: 0;
        width: 100%;
        a {
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            padding: 0 31px;
            transition: all .3s;
            text-transform: uppercase;
            position: relative;
            z-index: 4;
            &:hover {
                background: #86A876;
                color: #fff;
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    &__item {
        font-size: 13px;
        line-height: 150%;
        color: #252C25;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

@media screen and (max-width: 992px) {
    .nav {
        display: block;
        margin-bottom: 20px;
        &__item {
            margin-right: 0 !important;
            margin-bottom: 10px;
            display: block;
        }
    }
    .header {
        &__logo {
            margin-right: 0;
            position: relative;
            z-index: 11;
        }
        &__right {
            display: none;
            position: absolute;
            height: 100vh;
            padding-top: 130px;
            top: 0;
            width: 100%;
            left: 0;
            background-color: #fff;
            z-index: 10;
            &-inner {
                width: 750px;
                padding: 0 15px;
                display: block;
                margin: 0 auto;
            }
        }
        &__burger {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 32px;
            height: 23px;
            position: relative;
            z-index: 11;
            span {
                transition: all .3s;
                width: 100%;
                height: 2px;
                background: #86A876;
                &:nth-child(1) {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:nth-child(2) {
                    width: 16px;
                }
                &:nth-child(3) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        &__burger--active {
            span {
                &:nth-child(1) {
                    transform: rotate(-45deg);
                    top: 10px;
                }
                &:nth-child(2) {
                    transform: scale(0.000001);
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                    bottom: 10px;
                }
            }
        }
        &__btn {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__right {
            &-inner {
                width: 100%;
            }
        }
        &__logo {
            width: 91px;
        }
    }
}